@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

:root {
  --bg: #FFF;
  --fc-primary: #323238;
  --bg-border: #8A2BE2;
  --bg-cards: #E1E1E6;
}

/* .dark-mode:root {
  --bg: #000;
  --fc-primary: #FFF;
  --bg-border: #8A2BE2;
  --bg-cards: #E1E1E6;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: var(--bg);
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

body.dark-mode {
  background-color: #000;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
  gap: clamp(5rem, 10rem + 5vw, 20rem);
  flex-wrap: wrap;
  padding-top: 15rem;
}

.hide {
  display: none;
}

#timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#time span {
  color: var(--fc-primary);
  font-size: clamp(10rem, 10rem + 10vw, 12rem);
}

#time.dark-mode span {
  color: #FFF;
}

#button-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

#button-controls button svg path {
  fill: var(--fc-primary)
}

#button-controls.dark-mode button svg path {
  fill: #FFF;
}


#button-controls button svg:hover path {
  fill: var(--bg-border);
}

#cards-sons { 
  display: grid;
  gap: 3.2rem;
  grid-template-areas:
    'A B'
    'C D';
}

.card {
  border-radius: 2.4rem;
  background-color: var(--bg-cards);
  transition: all 400ms;
}

.card:hover {
  background-color: var(--bg-border);
  transform: scale(1.06);
}

.card svg:hover path {
  fill: var(--bg);
}

.press {
  background-color: var(--bg-border);
  border-radius: 2.4rem;
  transition: all 400ms;
}

.press svg path {
  fill: var(--bg);
}

@media (max-width: 425px) {
  main {
    padding-top: 10rem;
    gap: 5rem;
  }
}